* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Krub', sans-serif;
    letter-spacing: 0.8px;
}

body:not(.modal-open) {
    padding-right: 0px !important;
}

.header-wrapper {
    background-image: url('../images/home-page.jpg');
    background-size: cover;
    height: 700px;
    position: relative;
    background-attachment: fixed;
    width: 100%;
    object-fit: cover;
}

header .container {
    width: 100%;
    color: white;
    text-shadow: black 0 0 0.8px;
}

header nav {
    z-index: 1;
}

.nav-item a {
    padding: 8px 15px;
    font-size: 17px;
    display: block;
}

.emphasize {
    background-color: rgb(12, 60, 96);
}

header div {
    z-index: 1;
}

.darken-pseudo {
    position: relative;
}

.darken-pseudo:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    background-color: rgba(53, 94, 206, 0.1);
}

.introduce {
    position: absolute;
    bottom: 110px;
    left: 120px;
    font-size: 17px;
    width: 350px;
}

.btn-start {
    background-color: rgb(12, 60, 96);
    padding: 8px 15px;
    border: none;
    color: white;
    display: block;
    margin-top: 50px;
}

.question {
    padding: 50px 0px;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 30px;
    color: #0C3C60;
}

.slogan-item {
    padding: 15px 40px;
    text-align: center;
}

.slogan-item i {
    font-size: 80px;
    color: rgb(12, 60, 96);
    /* margin-bottom: 5px; */
}

.slogan-item h3 {
    font-size: 20px;
    color: rgb(12, 60, 96);
    margin: 18px auto;
}

.slogan-item p {
    font-size: 14px;
    line-height: 1.8;
    color: rgb(99, 96, 96);
    text-align: justify;
}

.get-start-content {
    width: 400px;
    text-align: center;
}

.get-start-content h3 {
    margin-bottom: 20px;
}

.get-start-content p {
    font-size: 15px;
}

footer {
    background-color: rgb(12, 60, 96);
    font-size: 13px;
    color: rgb(223, 219, 219);
    padding: 50px 100px 10px;
}

footer .btn-start {
    background-color: #39729B;
    margin: 20px auto;
    font-size: 18px;
}

footer h6 {
    font-size: 15px;
}


/* login form */

.sign-in-content {
    width: 350px;
}

.modal-header {
    color: rgb(12, 60, 96);
    font-size: 22px;
    justify-content: space-around;
}

.modal-body {
    font-size: 14px;
    color: rgb(82, 80, 80);
    padding: 20px 30px;
}

.input-wrapper {
    width: 100%;
    overflow: hidden;
    padding: 8px 0;
    margin: 15px 0 5px 0;
    border: none;
    border-bottom: 1px solid rgb(119, 118, 118);
}

.input-wrapper i {
    width: 26px;
}

.input-wrapper input {
    border: none;
    outline: none;
    width: 80%;
}

.modal-content .btn {
    width: 100%;
    padding: 5px;
    cursor: pointer;
    background-color: rgb(12, 60, 96);
    margin-top: 15px;
    color: white;
}

.login-social-item {
    font-size: 15px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 5px;
}


/* register form */

.sign-up-content {
    width: 400px;
}

.info-wrapper {
    display: flex;
    justify-content: space-between;
}

.message-error {
    color: #ff0000;
}

.message-success {
    color: #00ff00;
}

.fa-sign-out-alt {
    color: red;
}

.fa-bell {
    font-size: 22px;
    position: relative;
}

.numberOfNotify {
    color: #ff0000;
    position: absolute;
    bottom: 7px;
    font-size: 20px;
}

.text-sign {
    width: 18px;
    height: 18px;
    margin-right: 10px;
    margin-bottom: 2px;
    margin-top: 4px;
}

.google-sign-in {
    background-color: #fff;
    padding: 5px 40px;
    border: 1px solid wheat;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    display: inline;
}

.facebook-sign-in {
    background-color: #fff;
    padding: 5px 40px;
    border: 1px solid blue;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    display: inline;
}

.fa-facebook-square {
    color: blue;
}

.fab {
    font-size: 18px;
    margin-right: 10px;
    margin-top: 2px;
}