.video-watch {
    width: 200px;
    height: 150px;
}

.homeVideo {
    width: 100%;
}

.list-video {
    overflow-y: scroll;
}

.title-video {
    font-size: 15px;
    margin-left: 10px;
    font-weight: bold;
}

.video-watching {
    width: 100%;
}

.title-video-watching {
    font-size: 20px;
    margin-left: 10px;
    font-weight: bold;
}

.avatar-lesson {
    height: 50px;
    border-radius: 50%;
}

@media only screen and (max-width: 1200px) {
    .video-layout {
        display: inline-block;
    }
}